<div class="card text-dark">
    <img class="card-img" src="../assets/bumpinBurgers.gif" alt="Card image">
    <div class="card-img-overlay">

        <div class="jumbotron jumbotron-fluid bg-light shadow rounded" style="margin-top: 34%;">
            <div class="container">
                <h1 class="display-3 padding-bottom-3 text-success mt-1" style="margin-bottom: 30px">Bumpin Burgers</h1>

                <div class="row">
                    <div class="col-lg-3 col-md-3">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 text-center enter_section">
                        <form action="/burgers/create" method="POST">
                            <input type="text" name="burger_name" class="form-control" value="" id="enter_text">
                            <button type="submit" class="btn btn-info" id="text-enter-button">Order</button>
                        </form>
                        <p>Enter your Burger of Choice!</p>
                    </div>
                    <div class="col-lg-3 col-md-3">
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">Ready!</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    {{#each burger_data}} {{#unless this.devoured}}
                                    <li class="list-group-item">
                                        <p class="burger_name">{{this.burger_name}}</p>
                                        <form class="pull-right" action="/burgers/update?_method=PUT" method="POST">
                                            <input type="hidden" name="burger_id" type="text" value={{this.id}}>
                                            <button class="btn btn-default btn-warning" type="submit">Eat it!</button>
                                        </form>
                                    </li>
                                    {{/unless}} {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">Previous Orders</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    {{#each burger_data}} {{#if this.devoured}}
                                    <li class="list-group-item">
                                        <p class="burger_name">{{this.burger_name}}</p>
                                        <form action="/burgers/create" method="POST">
                                            <input type="hidden" name="burger_name" type="text" value="{{this.burger_name}}">
                                            <button type="submit" class="btn btn-danger" id="text-enter-button">Re-Order!</button>
                                        </form>
                                    </li>
                                    {{/if}} {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>